---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Ovalo from '../components/Ovalo.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	{/* óvalos*/ }
	<Ovalo width={444} height={256} color="#04243C" left={-17} top={15} zIndex={0} rotation={45}/>
	<div class="relative ml-20 mt-28 w-[90%] h-[400px] inline-flex rounded-">
		<p class=" w-3xl text-4xl text-white pt-20 pt">
			Más allá del diseño y la estrategia, mi verdadero objetivo es 
			impulsar el crecimiento y la conexión a través de experiencias 
			significativas. <br /><br />
	 
			¿Quieres descubrir cómo?	
		</p>
		<Ovalo width={484} height={169} color="#323A3C" left={120} top={8} zIndex={0} rotation={-37} />
		<Ovalo width={481} height={233} color="#04293B" left={110} top={4} zIndex={0} rotation={57} opaciti={0.5}/>
		
		<div class="relative left-[80px]">
			<img class=" w-90 right-[15vw] object-contain opac" src="/images/mental-model.png" alt="Astro Logo" />
		</div>		
	</div>

	
	
	

</Layout>

<style>
	p{
    	font-family: 'Jersey 25', system-ui;
	}
</style>
