---

interface Props{
    img: string;
    widht: number;
    height: number;
    title: string;
    description: string;
    href: string;
    code?: string;
    run?:string;
}

const {img, widht, height, title, description, href, code, run}: Props = Astro.props;
---
<div class="bg-[#04293B] w-[500px] h-[300px] rounded-3xl relative"
    style=`width: ${widht}px; height: ${height}px;`
   
>
    <img class="object-cover w-full h-[60%] rounded-tl-3xl rounded-tr-3xl" 
    src=`/images/${img}` 
    alt=""
    >
    <h2 class="text-[26px] pl-[40px] pt-[10px]">Titulo</h2>
    <p class="text-[16px] pl-[40px] pt-[10px]">{description}</p>

</div>

<style>
    h2{
        font-family: 'Jersey 25', system-ui;
        color: white;
    }
</style>
