---
import '../styles/global.css'
import NavigateButton from './NavigateButton.astro';
import { Icon } from 'astro-icon/components'
---

<header class="w-[932px] h-20 p-5 justify-between">
    <img src="/assets/logo.png" alt="Logo" class="w-[932px]"/>

    <nav class="inline-flex gap-4 text-[16px]">
        <NavigateButton href="/" text="Home" />
        <NavigateButton href="/about" text="About" />
        <NavigateButton href="/" text="Home" />
        <NavigateButton href="/projects" text="Projects" />
        <NavigateButton href="/tecnologies" text="Technologies" />
        <NavigateButton href="/contact" text="Contact" />
        <NavigateButton href="/github" text="">
            <Icon name="github-mark-white.png"/>
        </NavigateButton>
        <NavigateButton href="/linkedin" text="" > logo</NavigateButton>
    </nav>

</header>

<style>
    header {
        display: inline-flex;
    }
</style>