---
interface Props{
    color: string;
    width: number;
    height: number;
    left?: number;
    right?: number;
    top?: number;
    zIndex?: number;
    rotation?: number;
    opaciti?: number;
};

const { color, width, height, left,right, top, zIndex, rotation,opaciti }: Props = Astro.props;
---
<div
  class="absolute rounded-[75%]"
  style={`
    width: ${width}px;
    height: ${height}px;
    background-color: ${color};
    right: ${right || null}vh;
    left: ${left || null}vh;
    top: ${top || null}vw;
    z-index: ${zIndex || 0};
    transform: rotate(${rotation || 0}deg);
    position: relativa;
    opacity: ${opaciti || 1};
  `}
></div>
