---
interface Props{
    title: string;
}

const { title }: Props = Astro.props;
---

<h2 class="relative">
{title}
</h2>

<style>
    h2 {
        font-family: 'Jersey 25', system-ui;
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin-top: 20px;
        font-size: 3rem;
    }
</style>